* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    /* background-image: linear-gradient(135deg, #3C3893, #007BFF);; */
    background-color: #0a69ed;
}

.start-screen,
.score-container {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

#start-button,
#restart {
    font-size: 1.3em;
    padding: 0.5em 1.8em;
    border-radius: 0.2em;
}

#restart {

}

#display-container {
    background-color: #ffffff;
    padding: 3.1em 1.8em;
    width: 80%;
    min-width: 37.5em;
    margin: 0 auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.6em;

}

.hide {
    display: none;
}